.btn_mobile_link::after {
  content: '';
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: oklch(92.8% 0.006 264.531);
  bottom: 30px;
  left: -0.75rem;
  transition: transform 0.3s ease-in-out;
}


.btn_mobile_link:hover::after.showDot {
  opacity: 1;
}

@media ( width <= 640px ){
  .doth {
    top: 52% ;
    left: 18rem;
  }
}

@media ( width >= 641px ){
  .btn_mobile_link:hover::after {
    opacity: 1;
  }
}

