
@media (min-width: 640px) {
   .responsive-title{
        font-size: clamp(2rem, 6vw , 6rem);
        font-weight: 400;
        line-height: clamp(2rem, 6vw , 6rem);
    } 
}

.profile-img-first{
    width: 45px;
    height: 45px;
}

.profile-img-second{
    width: 90px;
    height: 90px;
}