.locationCard {
  display: flex; /* Para alinear el texto y el globo horizontalmente */
  align-items: center; /* Para centrar verticalmente los elementos */
  color: white; /* Ejemplo de color de texto blanco */
  padding: 15px 20px;
  border-radius: 0px 5rem 5rem 0px; /* Para las esquinas redondeadas */
  gap: 20px; /* Espacio entre el texto y el globo */
}

.textContainer {
  flex-direction: column;
  text-align: start;
  font-size: 1.05em;
  line-height: 1.2;
  font-family: 'Dennis Sans', sans-serif;
}
