.locationCard {
  display: none;
  align-items: none;
  color: white; /* Ejemplo de color de texto blanco */
  padding: 15px 20px;
  border-radius: 0px 5rem 5rem 0px; /* Para las esquinas redondeadas */
  gap: 20px; /* Espacio entre el texto y el globo */
}

.textContainer {
  flex-direction: column;
  text-align: start;
  font-size: 1.05em;
  line-height: 1.2;
  font-family: 'Dennis Sans', sans-serif;
}

@media (width > 768px) {
  .locationCard {
   display: flex; /* Para alinear el texto y el globo horizontalmente */
  }
  .profile_img_hero{
    height: 6rem;
    width:  6rem;
  }

}

.profile_img_hero{
  height: 4rem;
  width: 4rem;
}

.hero_bg{
  background: url(/public/imgs/bghero.jpg);
  background-size: cover;
}
