.name_animation {
  transition: all 0.5s ease-in-out; /* Transición para el width */
}

.name_animation p {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  min-width: 100%; /* Aseguro que el texto ocupe todo el ancho inicial */
}

.name_animation:hover {
  width: 80%;
}

.name_animation:hover p {
  transform: translateX(-24.8%); /* Ajusto este valor según cuánto quiero que se mueva */
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 80s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 80s linear infinite;
}


.text-custom{
  font-size: 10rem;
}
