:root {
  --san-serif: 'Dennis Sans', sans-serif;
  --white_midle: #ffffff4f;
  --white: #FFFFFF;
  --black_btn_sections: #000000dd;
  --white-footer: #7a7a7acf;
  --blue_opacity: #455CE9;
  --gray-900: #1a1a1a;

}
