body {
  margin: 0;
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; */
}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
} */

/* input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
} */


.section_title {
  font-size: clamp(2rem, 6vw , 6rem);
  font-weight: 400;
  line-height: clamp(2rem, 6vw , 6rem);
}

.img-caja {
  background-image: url('/imgs/DSC07312-2.jpg');
  background-size: auto 150%;       /* Ajusta la imagen para configurar como va cubrir la caja  y , x*/
  background-position: center top;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  z-index: -1;
}